.slideshow-holder{display: none;}
div.slideshow-wrapper{display: block;visibility: visible;}
div.slideshow-nav,div.slideshow-thumbs {display: none;}
div.portfolio-slideshow .not-first {display: block;}